body {
  margin:  0 25px;
}

p {
   font-size: 20px;
}
h1 {
  font-size: 25px;
  text-align: center;
}
h2 {
  font-size: 20px;
}

img {
    max-width: 100%;
}

figure {
    margin: 25px;
}

@media screen and (min-width: 550px) and (max-width: 750px)  {

body  {
  background-color: coral;
  margin: 0 10%;

}

p {
  font-size: 15px;
  margin: ;
}

.figure-container {
  display: flex;
  flex-direction: column;
  
}


figure {
  width: 50%;
  flex-bas
}

}

